[github]
	user = Crazor
	#token = 
[user]
	name = Crazor
	email = crazor@gmail.com
[advice]
	statusHints = false
[color]
	ui = auto
[alias]
	st = status -uno
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	who = shortlog -s --
	lc = log ORIG_HEAD.. --stat --no-merges
	llog = log --date=local
	changes = diff --name-status -r
	diffstat = diff --stat -r
	unadd = reset HEAD

	gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	prune-all = !git remote | xargs -n 1 git remote prune
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; mvim `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"

[instaweb]
	local = true
[rerere]
	enabled = 1
[core]
	excludesfile = ~/.gitignore
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/crazor/.stCommitMsg
[branch]
	autosetuprebase = always
