[submodule ".vim/bundles/nerdtree"]
	path = .vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundles/fugitive"]
	path = .vim/bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundles/cocoa"]
	path = .vim/bundles/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundles/zenburn"]
	path = .vim/bundles/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule ".vim/bundles/objc-matchbracket"]
	path = .vim/bundles/objc-matchbracket
	url = https://github.com/vim-scripts/Match-Bracket-for-Objective-C.git
[submodule ".vim/bundles/vhdl-indent"]
	path = .vim/bundles/vhdl-indent
	url = https://github.com/vim-scripts/VHDL-indent-93-syntax.git
[submodule ".vim/bundles/cd"]
	path = .vim/bundles/cd
	url = git@github.com:Crazor/CD.vim.git
[submodule ".vim/bundles/doxygentoolkit"]
	path = .vim/bundles/doxygentoolkit
	url = http://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule ".vim/bundles/nerdcommenter"]
	path = .vim/bundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundles/unmatchedbrackets"]
	path = .vim/bundles/unmatchedbrackets
	url = https://github.com/vim-scripts/Highlight-UnMatched-Brackets.git
[submodule ".vim/bundles/zoomwin"]
	path = .vim/bundles/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundles/camelcasemotion"]
	path = .vim/bundles/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule ".vim/bundles/taglist"]
	path = .vim/bundles/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundles/yankring"]
	path = .vim/bundles/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundles/protodef"]
	path = .vim/bundles/protodef
	url = https://github.com/ewiplayer/vim-protodef.git
[submodule ".vim/bundles/fswitch"]
	path = .vim/bundles/fswitch
	url = https://github.com/ewiplayer/vim-fswitch.git
[submodule ".vim/bundles/xptemplate"]
	path = .vim/bundles/xptemplate
	url = https://github.com/vim-scripts/xptemplate.git
[submodule ".vim/bundles/visincr"]
	path = .vim/bundles/visincr
	url = https://github.com/vim-scripts/VisIncr.git
