[submodule ".vim/bundles/nerdtree"]
	path = .vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundles/fugitive"]
	path = .vim/bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundles/snipmate"]
	path = .vim/bundles/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundles/cocoa"]
	path = .vim/bundles/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundles/zenburn"]
	path = .vim/bundles/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
