[submodule ".vim/bundles/nerdtree"]
	path = .vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundles/fugitive"]
	path = .vim/bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundles/snipmate"]
	path = .vim/bundles/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundles/cocoa"]
	path = .vim/bundles/cocoa
	url = https://github.com/msanders/cocoa.vim.git
[submodule ".vim/bundles/zenburn"]
	path = .vim/bundles/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule ".vim/bundles/objc-matchbracket"]
	path = .vim/bundles/objc-matchbracket
	url = https://github.com/vim-scripts/Match-Bracket-for-Objective-C.git
[submodule ".vim/bundles/vhdl-indent"]
	path = .vim/bundles/vhdl-indent
	url = https://github.com/vim-scripts/VHDL-indent-93-syntax.git
[submodule ".vim/bundles/cd"]
	path = .vim/bundles/cd
	url = https://github.com/vim-scripts/CD.vim.git
